language: php

php:
  - 5.6
  - 5.5
  - 5.4
  - 5.3
  - hhvm

script:
  - phpunit --configuration tests/phpunit.xml

notifications:
  email:
    - will.knauss@gmail.com
  on_success: never
  on_failure: always
